#bento {
  width: 940px;
  border: 10px solid;
  border-bottom: none;
  margin: 40px auto 80px;
  text-align: center;
}

#bento section {
  border-bottom: 10px solid;
  overflow: auto;
}

#bento h1 {
  font-size: 60px;
  letter-spacing: -2px;
  line-height: 1.0em;
}

#bento .name-title {
  padding: 60px 0;
}

#bento .name-title p {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 0.35em;
  margin-bottom: 0.4em;
}

#bento h2 {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.35em;
  padding: 10px 0;
  border-bottom: 10px solid;
  margin-bottom: 0;
}

#bento h2:before {
  content: '· ';
}

#bento h2:after {
  content: ' ·';
}

#bento p {
  margin-bottom: 0;
  font-size: 16px;
}

#bento .projects div {
  width: 286px;
  float: left;
  padding: 70px 10px;
  height: 80px;
  border-right: 10px solid;
}


#bento .projects h3 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 0.2em;
}

#bento .projects .intro3d h3 {
  margin-top: -0.5em;
}

#bento .presence li {
  width: 300px;
  border-right: 10px solid;
  float: left;
  font-size: 50px;
  padding: 80px 0px;
  text-transform: uppercase;
  font-weight: 800;
}

#bento section .right {
  border-right: none;
  }
